body {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align-last: center;
    text-align: justify;
    color: #ffffff;
    background-image: url('https://i.pinimg.com/originals/21/39/e0/2139e0405ae392726363954e18afa342.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-decoration: underline;
    /* margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 100px; */
    margin: 45px auto 60px auto;
    width: 50%;
}