/* .message-header {
    color: black;
    font-weight: bold;
    background-color: white;
    border: 1px solid;
    border-color: gainsboro;
}

.message .message-body {
    background-color: white;
    border: 1px solid;
    border-color: gainsboro;
}

body {
    background-image: url('BG-Claro.png');
    background-repeat: no-repeat;
} 
    
.columns .column {
    opacity: 0.90;
} */


/* Para alterar o site para cores claras, basta comentar o BODY e descomentar as classes acima. */

body {
    background-image: url('BG-Dark.jpg');
    background-repeat: no-repeat;
} 

.columns .column {
    opacity: 0.90;
}
