.message-header {
    color: black;
    font-weight: bold;
    background-color: white;
    border: 1px solid;
    border-color: gainsboro;
}

.message .message-body {
    background-color: white;
    border: 1px solid;
    border-color: gainsboro;
}

